/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


body {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.3em;
}
p {
	font-size: 1em;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

nav {
	text-align: right;
}
header,
.intro {
	background-color: #F2CCC3;
	padding:  20px 10%;
}
header h1 {
	color: #F5F1E3;
}
header a {
	color: #F5F1E3;
}
header img {
  height: 355px;
  width: 250px;
  border-radius: 50%;
}
.intro h2,
p {
	text-align: center;
	font-style: italic;
	line-height: 1em;
	margin-bottom: 0.5em;
	color: #F5F1E3;
}
section.que-hacemos {
	padding: 200px 13%;
	background-color: #DEFFFC;
}
section div.wrapper {
	background-color: #fff;
	padding: 30px 10%;
	border-radius: 2em;
}
section.que-hacemos h1,
p {
	text-align: left;
	font-style: normal;
	line-height: 1em;
	margin-bottom: 10px;
	color: #222;
}
section.que-hacemos h3 {
	margin: 20px 0;
}
section.que-hacemos li {
	text-align: left;
	line-height: 1em;
	margin-bottom: 10px;
}